# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

shared_env: &shared_env
  APP_VERSION: 0.0.1.SNAPSHOT

java_env: &java_env
  JVM_OPTS: -Xmx3200m
  TERM: dumb

restore_gradle_cache: &restore_gradle_cache
  restore_cache:
    keys:
      - gradle-dep-{{ checksum "build.gradle" }}
      - gradle-dep-

save_gradle_cache: &save_gradle_cache
  save_cache:
    paths:
      - /home/circleci/.gradle
    key: gradle-dep-{{ checksum "build.gradle" }}

copy_test_result: &copy_test_result
  run:
    command: |
      mkdir -p $TEST_RESULT
      find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} $TEST_RESULT \;
    when: always

jobs:
  # ====================
  # Stage 1.1: Unit Test
  # ====================
  unitTest:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      TEST_RESULT: ~/unit
      <<: *java_env
    steps:
      - checkout
      - *restore_gradle_cache
      - run: gradle unitTests
      - *save_gradle_cache
      - *copy_test_result
      - store_test_results:
          path: ~/unit
      - store_artifacts:
          path: ~/unit

  # ===========================
  # Stage 1.2: Integration Test
  # ===========================
  integrationTest:
    docker:
      - image: circleci/openjdk:8-jdk
      - image: circleci/mongo:3.6-jessie
    working_directory: ~/repo
    environment:
      TEST_RESULT: ~/integration
      MONGO_URI: mongodb://localhost:27017
      <<: *java_env
    steps:
      - checkout
      - *restore_gradle_cache
      - run:
          command: |
            export TEST_MONGO_URI=$MONGO_URI
            gradle integrationTests
      - *save_gradle_cache
      - *copy_test_result
      - store_test_results:
          path: ~/integration
      - store_artifacts:
          path: ~/integration

  # ======================
  # Step 2: Build Artifact
  # ======================
  build_app_jar:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/repo
    environment:
      <<: *java_env
      <<: *shared_env
    steps:
      - checkout
      - *restore_gradle_cache
      - run: gradle shadowJar -PprojectVersion=$APP_VERSION
      - *save_gradle_cache
      - run:
          command: |
            mkdir -p ~/artifacts/
            find . -type f -regex ".*/build/libs/heimdall-$APP_VERSION.jar" -exec cp {} ~/artifacts/heimdall.jar \;
            cp Dockerfile ~/artifacts
      - store_artifacts:
          path: ~/artifacts
      - persist_to_workspace:
          root: ~/artifacts/
          paths:
            - heimdall.jar
            - Dockerfile

  # ==========================
  # Step 3: Build Docker Image
  # ==========================
  build_docker_image:
    docker:
      - image: docker:18.05.0-ce
    working_directory: ~/repo
    environment:
      TERM: dumb
      <<: *shared_env
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Copy workspace file to working directory
          command: |
            cp /tmp/workspace/* ~/repo
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            docker image build -t heimdall .
      - run:
          name: Tag and upload docker image
          command: |
            IMAGE_TAG=imulab/heimdall:latest
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              IMAGE_TAG=imulab/heimdall:$APP_VERSION
            fi
            docker tag heimdall $IMAGE_TAG
            docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
            docker push $IMAGE_TAG


workflows:
  version: 2
  app_ci_pipeline:
    jobs:
      - unitTest
      - integrationTest
      - build_app_jar:
          requires:
            - unitTest
            - integrationTest
      - build_docker_image:
          requires:
            - build_app_jar